<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.dominos.mapper.AdminMapper">
	<select id="a_memberList" resultType="MemberVO">
		<![CDATA[
			select * from member
		]]>
	</select>
	<select id="questionList" resultType="BbsVO">
		<![CDATA[
			select * from bbs order by uid desc
		]]>
	</select>
	<select id="questionView" resultType="BbsVO">
		<![CDATA[
			select * from bbs where uid=#{uid}
		]]>
	</select>
	<update id="answerUpdate">
		<![CDATA[
			update bbs set state="답변완료", answer=#{answer} where uid=#{uid}
		]]>
	</update>
	<select id="OrderList_gift" resultType="GiftVO">
		<![CDATA[
			select * from cart_gift where state="결제완료"
		]]>
	</select>
	
</mapper>