<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dominos.mapper.GiftMapper">
	<insert id="giftWrite">
		<![CDATA[
			insert into gift (uid,pizza ,price_L, size_L, image, image_o, image_s)values (#{uid},#{pizza}, #{price_L}, #{size_L}, #{image}, #{image_o}, #{image_s} )
		]]>
	</insert>
	<select id="gifrList" resultType="GiftVo">
		<![CDATA[
			select * from gift
		]]>
	</select>
	<select id="e_couponPost" resultType="int">
		<![CDATA[
			select count(*) from coupon where e_coupon=#{e_coupon} and state="사용전" 
		]]>
	</select>
	<update id="couponUpdate">
		<![CDATA[
			update coupon set state="사용완료" where e_coupon=#{e_coupon}
		]]>
	</update>
	<update id="cartUpdate">
		<![CDATA[
			update cart_gift set e_state="사용완료" where e_coupon=#{e_coupon}
		]]>
	</update>
	<select id="cartSelect" resultType="int">
		<![CDATA[
			select order_uid from cart_gift where e_coupon=#{e_coupon}
		]]>
	</select>
</mapper>